; Example Make file to demonstrate how to automatically fetch JW Player.
; See http://davehall.com.au/blog/dave/2011/05/17/drush-make-and-module-dependencies#comment-2261
; as to why this file ends with .example rather than .make.
libraries[jwplayer][download][type] = file
libraries[jwplayer][download][url] = https://account.jwplayer.com/static/download/jwplayer-6.10.zip

libraries[jwplayer_skins][download][type] = file
libraries[jwplayer_skins][download][url] = https://account.jwplayer.com/static/download/jwplayer-skins-premium.zip
